html {
    font-size: 62.5%;
}

.logo {
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
}

.Footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #293280;
    align-items: center;
    padding: 0 20px;
}

.socials{
width: 40%;
}

.policy{
    width: 30%;
    text-align: left;
    font-size: 16px;

}

.info_more{
    width: 30%;
    text-align: right;
    font-size: 16px;

}

@media(max-width:1000px){
    .Footer{
        flex-direction: column;
        padding: 20px 0;
    }
    .socials{
        width: 100%;
        }
        
        .policy{
            width: 100%;
            text-align: center;
            font-size: 16px;
        
        }
        
        .info_more{
            width: 100%;
            text-align: center;
            font-size: 16px;
        
        }
}

.menu-link ul {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    grid: 2/3;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.main-nav {
    background-color: #293280;
    width: 100%;
    height: 10rem;
    z-index: 100;
    display: grid;
    grid-template-columns: 10% 1fr 3fr 10%;
    cursor: pointer;

}

.button {
    grid: 3/5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ju367v93 {
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 32px;
        padding: .6rem 1.5rem;
        text-transform: capitalize;
background: linear-gradient(90deg, #49A5D3 0.15%, #7CF0B2 100.15%) !important;
    border-radius: 10px;
        color: #FFFFFF;
    cursor: pointer;
    display: block;
}


.ham {
    display: none;
}


@media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 3rem 1fr 3fr 1fr 3rem;

    }

    .menu-link ul {
        font-size: 14px;
    }

    .menu-link ul,
    .button {
        height: 8rem;
    }

    .button button {
        width: 170px;
        height: 32px;
        border-radius: 11px;
        font-size: 12px;
    }
}


.mobilelogo {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;

}

.actived {
    border-bottom: 4px solid #1E50FF;
    padding-bottom: 10px;
}

.navbarul{
    padding: 25px 0;
}

.navbarul li {
    padding-bottom: 5px !important;

}

@media (max-width: 900px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 3.5rem 1fr 1fr 4fr 3.5rem;
    }

    .menu-link {
        display: none;
    }

    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }

    .connectbutton {
        display: block;
    }

    .mobile-menu-link {
        display: grid;
        grid-column: 1/6;
        align-items: center;
        transform-origin: top;
        background: #000;
        margin-top: -15px;
    }

    .mobilelogo {
        width: 200px;
        display: block;
    }

    .logo img {
        width: 60px;
    }

    .mobile-menu-link ul {
        display: flex;
        font-size: 24px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .mobile-menu-link ul li {
        padding-block: 10px;
    }

    .button button {
        height: 0;
        display: none;
    }

    .button {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-content: end;
        align-items: center;
    }

    .actived {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .ham {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

                .ju367v93 {
            font-size: 1rem;
            padding: .2rem 1.3rem;
            margin:1rem auto !important;
        }
}

@media (max-width: 425px) {
    .ham {
        font-size: 20px;
    }

    .mobile-menu-link ul {
        font-size: 15px;
    }

    .actived {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .logo img {
        width: 50px;
        height: auto;
    }
}